body {
  font-family: arial;
  text-align: center;
}
.board {
  width: 540px;
  height: 540px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  background: url(assets/soil.png);
  background-size: cover;
  border-radius: 10px;
}
.board div{
    width: 180px;
    height: 180px;
    background-image: url(assets/pipe.png);
    background-size: cover;
}
.board div img{
    height: 100px;
    width: 100px;
    user-select: none;
    -moz-user-select: none  ;
    -webkit-user-drag: none;
    -ms-user-select:none;

}
